* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body{
	font-family: 'Poppins', sans-serif;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	color: #444444;
	line-height: 1;
}

ul,ol {
	list-style: none;
}

.main-banner {
	color:  #fff;
	background-image: url(..//image/ezra-comeau-jeffrey-77199-unsplash.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.container {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;	
}

.main-nav {
	font-size: 0;
	text-align: justify;
	padding-top: 28px;
	margin-bottom: 223px;

}

.main-nav:after {
	content: '';
	width: 100%;
	display: inline-block;
}

.main-menu {
	display: inline-block;
	vertical-align: middle;
	font-weight: 700;
}

.logo {
	display: inline-block;
	width: 98px;
	height: auto;
	vertical-align: middle;
}

.main-nav-link:hover {
	opacity: 0.4;
}

.main-nav-link:active {
	opacity: 0.1;
}

.main-menu-item {
	display: inline-block;
	font-size: 16px;
	padding: 0 18px 0 18px;
	text-align: left;
	vertical-align: top;
}

.main-menu-item:last-child {
	padding-right: 0;
}

.main-menu-item-link {
	color: #ffffff;
	text-decoration: none;
	
}

.main-menu-item-link:hover {
	color: #e71cb4;
	padding-bottom: 6px;
	border-bottom: 2px solid;
	text-transform: capitalize;
	text-decoration: none;
}

.main-menu-item-link:focus {
	color: #2f2f;
	padding-bottom: 6px;
	border-bottom: 2px solid;
	text-transform: capitalize;
	text-decoration: none;
}

.main-menu-item-link:active {
	color: #000;
	padding-bottom: 6px;
	border-bottom: 2px solid;
	text-transform: capitalize;
	text-decoration: none;
}

.header-title  {
	font-size: 60px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 35px;
}

.header-description {
	font-size: 30px;
	text-align: center;
	margin-bottom: 77px;
}

.wrapper-button {
	width: 100%;
	text-align: center;
}

.btn {
	background-color: inherit;
	color: #ffffff;
}

.btn:hover {
	opacity: 0.5;
}

.btn:active {
	opacity: 0.1;
}

.btn-header {
	min-width: 268px;	
	border: 2px solid #fff;
	border-radius: 8px;
	text-transform: capitalize;
	padding: 16px 35px 16px 35px;
	margin-bottom: 260px;
}


.design-battles-title {
	font-size: 62px;
	color: #e71cb4;
	padding-top: 140px;
	margin-bottom: 90px;
	
}

.design-battles-lead {
	font-size: 32px;
	line-height: 49px;
	margin-bottom: 135px;
	
}

.questions-list-title {
	font-size: 36px;
	margin-bottom: 95px;
}

.wrapper-questions {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	font-size: 0;
	margin-bottom: 80px;
}

.questions {
	display: inline-block;
	width: calc(50% - 150px);
	font-size: 0;
	list-style-type: decimal-leading-zero;
	font-weight: 700;
	margin-left: 150px;

}

.questions-item {
	font-size: 44px; 
	margin-bottom: 66px;
}

.questions span {
	display: inline-block;
	font-weight: 400;
	vertical-align: middle;
	width: calc(100% + 60px);
	font-size: 24px;
	padding-left: 100px;
	color: navy;
}

.questions li:before {
	display: inline-block;
	vertical-align: middle;
	font-size: 44px;
	padding-right: 28px;
	padding-left: 35px;
	word-spacing: 35px;
	font-weight: 700;

}

.questions-item:before {
	font-size: 44px;
	content: ">";
	margin-left: -180px;

}

.questions-item-yellow {
	color: #ffde16;
}

.questions-item-pink {
	color: #ffbd9e;
}


.questions-item-blue {
	color: #20c9e0;
}


.questions-item-green {
	color: #2eac66;
}

.questions-item-red {
	color: #ff6179;
	content: "> 05.";
}

.design-battles-description {
	margin-bottom: 74px;
	font-size: 22px;
	line-height: 1.15;
}

.courses-start-title {
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 72px;
}

.courses-start-description {
	font-size: 14px;
	margin-bottom: 45px;
}

.btn-course {
	min-width: 460px;
	background-color: #c60ebe;
	padding: 24px 82px 24px 82px;
	font-size: 22px;
	font-weight: 700;
	border: none;
	border-radius: 8px;
	text-transform: capitalize;
	margin-bottom: 155px;
}

.section-they-already-said-battles {
	background-image: url(..//image/Bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
}

.said-battles-tittle {
	padding-top: 155px;
	margin-bottom: 60px;
	font-size: 62px;
	text-align: center;
}

.said-battles-lead {
	padding-left: 35px;
	padding-right: 35px;
	margin-bottom: 50px;
	font-size: 22px;
	text-align: center;
	line-height: 37px;
}

.users-list {
	font-size: 0;
	width: calc(100% + 30px);
	margin-bottom: 25px;
}

.user-list-last {
	margin-bottom: 115px;
}

.user-list-item {
	display: inline-block;
	vertical-align: middle;
	width: calc((100% - 366px) / 3);
	margin-right: 61px;
	margin-left: 61px;
}


.said-battles-profile-img {
	width: 100%;
	margin-bottom: 20px;
}

.name {
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	color: #444444;
	margin-bottom: 20px;
}

.profession {
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	color: #444444;
}

.color-item-white {
	color: #ffffff;
}

.countdown-tittle {
	margin-bottom: 60px;
	font-size: 62px;
	text-align: center;
}

.countdown-list {
	font-size: 0;
	width: calc(100% - 200px);
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 116px;
}

.countdown-item {
	display: inline-block;
	width: calc((100% - 280px) / 4);
	height: auto;
	background-color: #470340;
	text-align: center;
	margin-right: 35px;
	margin-left: 35px;
	font-size: 48px;
}

.countdown-item:last-child {
	margin-right: 0;
}

.countdown-number {
	font-size: 70px;
	font-weight: 700;
	padding: 30px 0 20px 0;
}

.countdown-date {
	font-size: 20px;
	width: 100%;
	font-weight: 400;
	padding-bottom: 25px;
}

.countdown-item:first-child {
	background-color: inherit;
	border: 1px solid #fff;
}

.sponsorship-title {
	font-size: 62px;
	text-align: center;
	padding-top: 85px;
	margin-bottom: 85px;
}

.sponsorship-list {
	padding-bottom: 115px;
	font-size: 0;
}

.sponsorship-item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
	width: calc((100% - 90px) / 4);
}

.sponsorship-item:last-child {
	margin-right: 0;
}

.sponsorship-img {
	opacity: 0.3;

}

.jury {
	background-color: #ffe9eb;

}

.jury-tittle {
	font-size: 62px;
	text-align: center;
	padding-top: 90px;
	margin-bottom: 85px;
}

.jury-list {
	font-size: 0;
	padding-bottom: 100px;
}

.jury-list-item {
	display: inline-block;
	width: calc((100% - 60px) / 3);
}

.jury-list-item:nth-child(2) {
	margin: 0 30px 0 30px;
}


.jury-img {
	border-radius: 50%;
	margin-bottom: 20px;
}

.link-underline-none {
	text-decoration: none;
} 

.contakt-title {
	text-align: center;
	font-size: 64px;
	padding-top: 92px;
	margin-bottom: 80px;
}

.contakt-discription {
	text-align: center;
	font-size: 22px;
	margin: 0 195px 70px 195px;
	line-height: 34px;
}

.contakt-us-form {

}

.send-contakt {
	width: calc(100% - 520px);
	margin: 0 auto 120px auto;
	font-size: 0;
}

.send-contakt-item {
	font-size: 13px;
	display: inline-block;
	width: calc((100% - 60px) / 2);
	margin-right: 30px;
	margin-bottom: 40px;
}

.send-contakt-item:last-child {
	margin-right: 0;
}

.send-contakt input {
	min-width: 295px;
	border: none;
	border-bottom: 5px solid #555555;;
	height: 40px;
	outline: none;
}

.send-contakt input:focus {
	border-bottom: 1px solid #555555;
	font-weight: 400;
	
}



.send-contakt input::placeholder {
	font-size: 13px;
	font-weight: 400;

}

#send {
	display: block;
	width: calc(100% - 520px);
	border: none;
	border-bottom: 5px solid #555555;
	padding: 10px 490px 10px 10px;
	outline: none;
	font-size: 13px;
	margin: 0 auto 45px auto;
}

#send:focus {
	border-bottom: 1px solid #555555;
	font-size: 13px;

}

.btn-contakt-us {
	min-width: 150px;
	font-size: 12px;
	font-weight: 700;
	background-color: #555555;
	margin-left: 740px;
	margin-bottom: 100px;
	border: none;
	padding: 21px 10px 21px 10px;
}

.newsletter {
	background-color: #eeeeee;
}

.newsletter-title {
	text-align: center;
	font-size: 36px;
	padding-top: 72px;
	margin-bottom: 50px;
}


.newsletter-label {
	display: block;
	font-size: 16px;
	margin-bottom: 26px;
	text-align: center;
}

#email {
	padding: 20px 20px 20px 20px;
	width: 400px;
	border: none;
	border-radius: 10px;
	margin-left: 298px;
	margin-right: 8px;
	margin-bottom: 84px;
	padding-left: 20px;
	font-size: 18px;
}

#email::placeholder {
	font-size: 18px;
	padding-right: 140px;
}

.btn-email {
	background-color: #c60ebe;
	border-radius: 10px;
	padding: 20px 25px 20px 25px;
	border: none;
	font-size: 18px;
}

.messengers-list {
	width: 100%;
	text-align: center;
	font-size: 0;

}

.messengers-img {
	height: 65px;
	width: 65px;
}

.messengers-item {
	display: inline-block;
	padding-right: 5px;
	margin-bottom: 62px;

}